* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ea5c2b;
}

.card {
  height: 320px;
  width: 525px;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 33px;
  -webkit-box-shadow: 16px 12px 20px -1px rgba(0, 0, 0, 0.75);
          box-shadow: 16px 12px 20px -1px rgba(0, 0, 0, 0.75);
}
.card__startContainer {
  position: absolute;
  z-index: 100;
  height: 100%;
  width: 100%;
  background-color: #ff7f3f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Modak", cursive;
  color: #95cd41;
}
.card__startContainer .playBtn {
  background-color: #ea5c2b;
  border-radius: 50%;
  height: 140px;
  width: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 16px 12px 20px -1px rgba(0, 0, 0, 0.75);
          box-shadow: 16px 12px 20px -1px rgba(0, 0, 0, 0.75);
}
.card__startContainer .playBtn__text {
  font-size: 45px;
}
.card__startContainer .infoText {
  position: absolute;
  top: 246px;
  left: 97px;
  font-size: 25px;
}
.card__headingContainer {
  position: absolute;
  font-family: "Modak", cursive;
  font-size: 50px;
  letter-spacing: 5px;
}
.card__headingContainer--text {
  position: absolute;
  color: #f6d860;
}
.card__headingContainer .name {
  top: 33px;
  left: -140px;
}
.card__headingContainer .age {
  top: 116px;
  left: -64px;
}
.card__textContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: "Seymour One", sans-serif;
  font-size: 30px;
  color: #ff7f3f;
}
.card__textContainer .line {
  position: absolute;
}
.card__textContainer .line__block {
  position: absolute;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.card__textContainer--1 {
  font-size: 35px;
}
.card__textContainer--1 .line1 {
  top: 109px;
  left: -3px;
}
.card__textContainer--1 .line2 {
  top: 14px;
}
.card__textContainer--1 .line2__part1 {
  top: 73px;
  left: 25px;
}
.card__textContainer--1 .line2__part2 {
  top: 136px;
  left: 52px;
}
.card__textContainer--1 .line2__part3 {
  top: 205px;
  left: 76px;
}
.card__textContainer--1 .line3__part1 {
  top: 70px;
  left: 156px;
}
.card__textContainer--1 .line3__part2 {
  top: 108px;
  left: 187px;
}
.card__textContainer--1 .line3__part3 {
  top: 198px;
  left: 53px;
}
.card__textContainer--1 .line3__part4 {
  top: 245px;
  left: 56px;
}
.card__textContainer--2 .line1 {
  top: 230px;
  left: 15px;
}
.card__textContainer--2 .line2__part1 {
  top: 140px;
  left: 33px;
}
.card__textContainer--2 .line2__part2 {
  font-size: 40px;
  top: 175px;
  left: 176px;
}
.card__textContainer--3 .line1 {
  color: #f6d860;
  font-size: 35px;
  top: 176px;
  left: 119px;
  -webkit-transform: rotate(-17deg);
          transform: rotate(-17deg);
  -webkit-transform-origin: center;
          transform-origin: center;
}
.card__textContainer--3 .line2__part1 {
  top: 120px;
  left: 104px;
}
.card__textContainer--3 .line2__part2 {
  top: 190px;
  left: 207px;
}
.card__textContainer--4 {
  font-size: 33px;
}
.card__textContainer--4 .header {
  position: absolute;
  top: 33px;
  left: 127px;
  color: #f6d860;
}
.card__textContainer--4 .showlist {
  font-size: 25px;
  position: absolute;
  z-index: 100;
  top: 154px;
  left: 122px;
  list-style: none;
  text-align: center;
}
.card__textContainer--4 .showlist a {
  color: inherit;
}
.card__textContainer .line {
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}
.card__imgContainer {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 10;
}
.card__imgContainer .magicHat {
  position: absolute;
  height: 48px;
  width: auto;
  top: 238px;
  left: 32px;
  z-index: 11;
}
.card__imgContainer .dove {
  position: absolute;
  height: 45px;
  width: auto;
  top: 238px;
  left: 34px;
}
.card__imgContainer .replayBtn {
  height: 39px;
  width: auto;
  position: absolute;
  bottom: 12px;
  left: 10px;
  z-index: 100;
}
.card__imgContainer .balloons {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
}
.card__imgContainer .balloons .balloon {
  position: absolute;
  height: auto;
  top: 100%;
}
.card__imgContainer .balloons .b1 {
  width: 45px;
  left: 72px;
}
.card__imgContainer .balloons .b2 {
  width: 150px;
  left: 274px;
}
.card__imgContainer .balloons .b3 {
  width: 52px;
  left: 181px;
}
.card__imgContainer .balloons .b4 {
  width: 45px;
  left: 52px;
}
.card__imgContainer .balloons .b5 {
  width: 57px;
  left: 402px;
}
.card__imgContainer .balloons .b6 {
  width: 58px;
  left: 134px;
}
.card__imgContainer .balloons .b7 {
  width: 134px;
  left: 80px;
}
.card__imgContainer .confettie {
  height: 320px;
  width: auto;
}

.background {
  max-height: 320px;
  width: auto;
}
.background .stage {
  height: 100%;
  width: 100%;
}/*# sourceMappingURL=main.css.map */