* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.card {
  height: 320px;
  width: 525px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;

  &__headingContainer {
    position: absolute;
    width: 100%;
    left: 154px;
    top: 102px;
    // transform: translate(0px);
    // transform-origin: "center";

    #mainHeading {
      color: yellow;
      font-size: 55px;
    }
  }

  &__textContainer {
    position: absolute;
    width: 100%;

    font-size: 30px;
    &--1 {
      color: red;
      .line {
        top: 80px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &--2 {
      color: blue;
      .line {
        top: 155px;
        left: 50px;
      }
    }
    &--3 {
      color: pink;
      .line {
        top: 153px;
        left: 286px;
        transform: rotate(17deg);
      }
      .line2 {
        top: 190px;
        left: 180px;
      }
    }
    &--4 {
      top: 116px;
      left: 100px;
      color: purple;
      font-size: 20px;
    }

    .line {
      position: absolute;
      width: fit-content;
      text-align: center;
    }
  }

  &__imgContainer {
    height: 100%;
    width: 100%;
    position: absolute;

    .confettie {
      height: 320px;
      width: auto;
    }
  }
}

.background {
  opacity: 1;
  max-height: 320px;
  width: auto;

  .stage {
    height: 100%;
    width: auto;
  }
}
