* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ea5c2b;
}

.card {
  height: 320px;
  width: 525px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 33px;
  box-shadow: 16px 12px 20px -1px rgba(0, 0, 0, 0.75);

  &__startContainer {
    position: absolute;
    z-index: 100;
    height: 100%;
    width: 100%;
    background-color: #ff7f3f;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Modak", cursive;
    color: #95cd41;
    .playBtn {
      background-color: #ea5c2b;
      border-radius: 50%;
      height: 140px;
      width: 140px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 16px 12px 20px -1px rgba(0, 0, 0, 0.75);

      &__text {
        font-size: 45px;
      }
    }
    .infoText {
      position: absolute;
      top: 246px;
      left: 97px;
      font-size: 25px;
    }
  }

  &__headingContainer {
    position: absolute;
    font-family: "Modak", cursive;
    font-size: 50px;
    letter-spacing: 5px;
    &--text {
      position: absolute;
      color: #f6d860;
    }
    .name {
      top: 33px;
      left: -140px;
    }
    .age {
      top: 116px;
      left: -64px;
    }
  }

  &__textContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: "Seymour One", sans-serif;
    font-size: 30px;
    color: #ff7f3f;

    .line {
      position: absolute;
      &__block {
        position: absolute;
        width: max-content;
      }
    }

    &--1 {
      // color: purple;
      font-size: 35px;
      .line1 {
        top: 109px;
        left: -3px;
      }

      .line2 {
        top: 14px;
        &__part1 {
          top: 73px;
          left: 25px;
        }
        &__part2 {
          top: 136px;
          left: 52px;
        }
        &__part3 {
          top: 205px;
          left: 76px;
        }
      }

      .line3 {
        &__part1 {
          top: 70px;
          left: 156px;
        }
        &__part2 {
          top: 108px;
          left: 187px;
        }
        &__part3 {
          top: 198px;
          left: 53px;
        }
        &__part4 {
          top: 245px;
          left: 56px;
        }
      }
    }
    &--2 {
      .line1 {
        top: 230px;
        left: 15px;
      }

      .line2 {
        &__part1 {
          top: 140px;
          left: 33px;
        }
        &__part2 {
          font-size: 40px;
          top: 175px;
          left: 176px;
        }
      }
    }

    &--3 {
      .line1 {
        color: #f6d860;
        font-size: 35px;
        top: 176px;
        left: 119px;
        transform: rotate(-17deg);
        transform-origin: center;
      }

      .line2 {
        &__part1 {
          top: 120px;
          left: 104px;
        }
        &__part2 {
          top: 190px;
          left: 207px;
        }
      }
    }

    &--4 {
      font-size: 33px;
      .header {
        position: absolute;
        top: 33px;
        left: 127px;
        color: #f6d860;
      }

      .showlist {
        font-size: 25px;
        position: absolute;
        z-index: 100;
        top: 154px;
        left: 122px;
        list-style: none;
        text-align: center;

        a {
          // text-decoration: none;
          color: inherit;
        }
      }
    }

    .line {
      position: absolute;
      width: fit-content;
      text-align: center;
    }
  }

  &__imgContainer {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 10;

    .magicHat {
      position: absolute;
      height: 48px;
      width: auto;
      top: 238px;
      left: 32px;
      z-index: 11;
    }
    .dove {
      position: absolute;
      height: 45px;
      width: auto;
      top: 238px;
      left: 34px;
    }
    .replayBtn {
      height: 39px;
      width: auto;
      position: absolute;
      bottom: 12px;
      left: 10px;
      z-index: 100;
    }
    .balloons {
      position: absolute;
      z-index: 0;
      width: 100%;
      height: 100%;

      .balloon {
        position: absolute;
        height: auto;
        top: 100%;
      }
      .b1 {
        width: 45px;
        left: 72px;
      }
      .b2 {
        width: 150px;
        left: 274px;
      }
      .b3 {
        width: 52px;
        left: 181px;
      }
      .b4 {
        width: 45px;
        left: 52px;
      }
      .b5 {
        width: 57px;
        left: 402px;
      }
      .b6 {
        width: 58px;
        left: 134px;
      }
      .b7 {
        width: 134px;
        left: 80px;
      }
    }
    .confettie {
      height: 320px;
      width: auto;
    }
  }
}

.background {
  max-height: 320px;
  width: auto;

  .stage {
    height: 100%;
    width: 100%;
  }
}
